.lead__image-wrapper {
    position: relative;
    width: 984px;
    height: 615px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__image-wrapper {
        width: 928px;
    }
}