.places__text-wrapper {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

@media (min-width: 741px) {
    .places__text-wrapper {
        padding-left: 30px;
    }
}

@media (min-width: 320px) and (max-width: 740px) {
    .places__text-wrapper {
        padding-left: 0;
    }
}