.places__content-wrapper {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 320px) and (max-width: 740px) {
    .places__content-wrapper {
        flex-direction: column;
    }
}