.lead__path {
    position: absolute;
    top: 90px;
    left: 17px;
    width: 937px;
    height: 262px;
    background-image: url("../../../images/path.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}