.places__website {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    width: calc(50%-8px);
    padding-left: 30px;
}

@media (max-width: 769px) {
    .places__website {
        width: 90%;
        padding-left: 0;
        margin-bottom: 32px;
    }
}